header {
  /* think about which properties you'd want to use to make the header */
  /* border-bottom color should be accent-background */
}

input[type="search"] {
  border-radius: 10px; /*round edges*/
  background-color: #f8f9fa;
  border: 1px solid gray;
  padding: 0.5rem 1rem;
}

article h1 a {
  /*color should be accent-background */
}
